
/*--- RESET ---*/
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Open Sans";
  }

  .clearfix:after{
  content: "";
  clear: both;
  display: table;}

  

    
  
/*--- RESET END ---*/
