@import 'reset';


/*--- MAIN CLASSES---*/


$initialPaddingLeft: 3%;


/*--- HEADER ORAZ MENU ---*/

header {
	background-image: url('../assets/seacost.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
    position: relative;
	
	h1{
		padding-top: 25px;
		padding-left: $initialPaddingLeft;
		font-size: 50px;
		letter-spacing: 1px;
		line-height: 75px;
		color: #000000;
		font-weight: 800;
		font-family: "Open Sans";
		display: block;
		width: 100%;
	}

	nav {
	  	padding-top: 10px;
	  	/*padding-right: 8vw;*/
		display: block;
	  ul {
	    list-style-type: none;
	    display: block;
	    margin: 0;
	    padding: 0;

	    
	    :first-child{
	    	padding-left: $initialPaddingLeft;
	    }

	    :last-child{
	    	padding-right: 3%;
	    	padding-left: 0%;
	    }


	    li {
		    float: left;
		    padding-right: 2%;
		    text-align: center;

		    

		    a{
		    	font-size: 0.8em;
				letter-spacing: 0px;
				line-height: 69px;
				color: #000000;
				font-weight: 800;
				font-family: "Open Sans";
		    }

		    
		    }
	  	}
	  }

	.dropdown{
		    	background-color: #dfdede;
		    	width: 80px;
		    	height: 100px;
		    	text-align: center;
		    	padding-top:0px;
		    	border-radius: 5px;
		    	box-shadow: 0 5px 5px #ccc;
		    	display: block; 


		    	li{
		    		
		    		font-size: 0.8em;
					letter-spacing: 0px;
					line-height: 25px;
					color: #000000;
					font-weight: 700;
		    		
		    		clear: both;
		    		padding: 0;
		    		text-align: center;
		    		width: 100%;
		    	}  	


	}/*nav*/

	div {
		position: absolute;
		right:2%;
		bottom: 5%;
		width: 270px;
		

		h2{
		font-size: 35px;
		letter-spacing: 1px;
		line-height: 55px;
		color: #ffffff;
		font-weight: 800;
		width: 260px;
		
		}

		span{
			display: inline-block;
			width: 120px;
			font-size: 16px;
			letter-spacing: 0px;
			line-height: 32px;
			color: #ffffff;
			font-weight: 600;
		}

		a{
			float: right;
			width: 148px;
			height: 47px;
			text-align: center;
			padding: 15px 0px 15px 0px;
			border: 2px solid #FFF;
			font-size: 24px;
			letter-spacing: 0px;
			line-height: 16px;
			color: #ffffff;
			font-weight: 800;
			text-decoration: none;
			margin-top: 70px; 
			border-radius: 25px;
		}
	}
} /*header*/



@media only screen and (min-width: 600px) {
	header{
			height: 761px;
			h1{ 
				padding-top: 77px;
				padding-left: 8.35%;
				
			}
			nav {
				ul {
					:first-child{
			    		padding-left: 8.35%;
			    	}
			    	li{
			    		float: left;
			    		text-align: center;
			    		a{
			    			font-size: 25px;

			    		}
			    		
					 }
			    }

			    .dropdown{
			    		width: 150px;
		    			height: 180px;
		    			padding-top:10px;
	    		    	li{
	    					line-height: 40px;
				    		font-size: 25px;

				    	}
					    }
   
			}	
			div {
				
				right:11%;
				bottom: 10%;
				width: 444px;
				h2{
					font-size: 50px;
					width: 366px;
				}
				span{ 
					font-size: 21px;
					width: 250px;
				}
				a{
					font-size: 24px;
					width: 167px;
					height: 47px;
					margin-top: 10px;
				}


			}
		}
}


@media only screen and (min-width: 1000px) {
	header{
			h1{ 
				padding-left: 5%;
				display: inline-block;
				width: auto;
				float: left;
			}
			nav {
				padding-top: 90px;
				ul {
					:first-child{
			    		padding-left: 5%;
			    	}
			    	:last-child{
			    		padding-right: 0%;
			    		padding-left: 0%;
			    	}
			    	li {
			    		padding-right: 4%;
					}
			    }
   
				}	
			}
}






@media only screen and (min-width: 1350px) {
	header{
			h1{ 
				padding-left: 8.35%;
				
			}
			nav {
				ul {
					:first-child{
			    		padding-left: 15%;
			    	}
			    	
			    	li {
			    		padding-right: 5%;
					}
			    }
   
				}	
			}
		  	
}




/*--- MAIN ---*/

main {
		.firstSection{

			display: flex;
			flex-wrap: wrap;
			padding-left: $initialPaddingLeft;
			h3{
				font-size: 49px;
				letter-spacing: 0px;
				line-height: 86px;
				color: #53686c;
				font-weight: 700;
				flex-shrink: 10;
				width: 100%;
			}

			div{
				flex: 1 1 200px;

			}

		}

	}/*main*/


	
/*--- FOOTER ---*/

footer {
	
	
	
}



